:root{

    --primary: white;
    --secondary:#f4f4f4;
    --tertiary: black;
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

.contact__container{
    background-color: var(--primary);
    box-shadow: 0 0 3rem rgba(0,0,0,0.5);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height:30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/* ASIDE */
.contact__aside{
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(1rem);    
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}
.aside__image{
    width:12rem;
    margin-bottom: 2rem;
}
.contact__aside h2{
    text-align: left;
    color: var(--primary);
    margin-bottom: 1rem;
}
.contact__aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: var(--primary);
}   
.contact__details li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.contact__details h5{
    color: var(--primary);
}
.contact__socials{
    display:flex;
    gap:0.8rem;
    margin-top: 3rem;
}

.contact__socials a {
    /* background: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);         */
    color: var(--primary);
    border: 2px solid var(--teritary);
        color: var(--tertiary);
        padding:0.6rem;
        border-radius:1rem;
        display:inline-block;
        /* margin-bottom: 2rem; */
        font-size:1.5rem;
    }

    .contact__socials i {

        color: #d6d6d6;
        /* transition: var(--transition); */
    }
    .contact__socials i:hover{
        color:var(--primary);
    }

/* FORM =======================*/

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form__name{
    display: flex;
    gap:1.2rem;
}
.contact__form input[type="text"]
{
    width: 50%;
}

input,
textarea{
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
    color: var(--tertiary);
}
.contact__form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}

/* 
=========================================TABLET -===================*/

@media screen and (max-width:1024px){
    .contact{
        padding-bottom: 0;
    }

    .contact__container{
        gap: 1.5rem;
        height: auto;
        margin-top: 3rem;
        padding: 1.5rem
    }
    .contact__aside{
        width: auto;
        padding: 1.5rem;
        bottom:0;
    }
    .contact__form{

        align-self: center;
        margin-right: 1.5rem;
    }
}


/*========================================phone-===================*/
@media screen and (max-width:600px)
{
    .contact__container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }
    .contact__form{
        margin: 0 1.5rem 3rem;
    }
    .form__name{
        flex-direction: column;
    }
    .form__name input[type="text"]{
        width: 100%;
    }
}